<div class="header-root">
    <div class="header-main">
        <div *ngIf="!user" class="logo-block">
            <img width="45" height="45" src="/assets/img/logo-header.png" alt="Logo">
            <div class="header-name">MAAT</div>
        </div>

        <div *ngIf="user" (click)="menuAction(); $event.stopPropagation();" class="menu-block">
            <div [ngClass]="{'menu-icon': !menuStatus, 'close-icon': menuStatus}">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="main-name">{{!menuStatus ? menuHeaders[path[1]][path[2]] : 'Меню'}}</div>
        </div>

        <div class="user-block">
            <div *ngIf="userOnLoad" class="spinner-loader">
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
            </div>

            <div *ngIf="!user&&!userOnLoad" class="user-labels">
                <div (click)="loginWindow()" class="login-button">Вхід</div>
                <div (click)="registrationWindow()" class="registration-button">Реєстрація</div>
            </div>
            <div *ngIf="user" class="user-labels">
                <span (click)="openCabinet()" class="material-icons user-icon">person_outline</span>
                <div class="user-name-block">
                    <!-- <div class="user-name">{{"Вітаємо, " + user.name}}</div> -->

                    <div class="query-limit">{{"Моніторинг: " + subscriptionsCount + " / " + user.queryLimit }}</div>
                    <div class="query-limit-line">
                        <div [ngStyle]="{'width': lineWidth}" class="active-line"></div>
                    </div>
                </div>
                <span (click)="exit()" class="material-icons exit-icon">exit_to_app</span>
            </div>
        </div>
    </div>
</div>