<div class="title-root">
    <div class="title-space">
        <div class="info-block">
            <img width="300" height="225" src="/assets/img/laptop-screen.png" alt="image">
            <div class="text-block">
                <div class="title-text">Моніторинг судових справ зі швидкістю думки</div>
                <div class="main-text"><b>МААТ</b>- це не тільки давньоєгипетська богиня правосуддя, а також сучасна система моніторингу судових справ.
                    <br>Вам більше не потрібно в ручну превіряти на наявність нової інформації - <b>МААТ</b> зробить це за Вас.
                    <br>Зручно, швидко та надійно - актуальна інформація завжи у Вас під рукою.
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="text-block">
                <div class="title-text">Одна система - безліч можливостей </div>
                <div class="main-text">З <b>МААТ</b> Ви маєте можливість моніторити зміни судових справ за наступними параметрами:
                    <br>- за номером судової справи;
                    <br>- за учасником судової справи (ПІБ особи або назва організації);
                    <br>- сторона судової справи: позивач;
                    <br>- сторона судової справи: відповідач;
                    <br>- сторона судової справи: третя сторона;
                </div>
            </div>
            <img width="300" height="225" src="/assets/img/worker.png" alt="image">
        </div>

        <div class="info-block">
            <img width="300" height="225" src="/assets/img/algoritm.png" alt="image">
            <div class="text-block">
                <div class="title-text">Вся потужність Big Data на відстані одного кліку</div>
                <div class="main-text">Ми використовуюємо найсучаніші алгоритми обробки та консалідації <b>Big Data</b>
                    <br>Лише Ви вирішуєте, як саме використовувати переваги <b>МААТ</b>:
                    <br>- сучасний веб-додаток: будь то браузер Вашого ноутбука або навіть на Вашому смартфоні;
                    <br>- дивовижне <b>MAAT Api</b>: трошки техно-магії та <b>МААТ</b> буде інтегрована у вашу рабочу систему.
                    <br>Не зволікай, обирай <b>МААТ</b>!
                </div>
            </div>
        </div>
    </div>
</div>