<div class="window">

    <span (click)="closeWindow()" class="material-icons close-icon">close</span>

    <form [formGroup]="passwordFormGroup" novalidate (ngSubmit)="submitChangePassword()" class="input-form">
        <div class="input-block">
            <input formControlName="password" class="input-field" type="password" placeholder="Введіть новий пароль" autocomplete="new-password">
        </div>
        <div *ngIf="passwordFormGroup.controls['password'].invalid && passwordFormGroup.controls['password'].dirty" class="error-message">Пароль повинен бути більше 8 символів</div>

        <div class="input-block">
            <input formControlName="passwordRepeat" class="input-field" type="password" placeholder="Повторіть пароль" autocomplete="new-password">
        </div>

        <div *ngIf="loadBar" class="load-animation button-margin"></div>
        <div *ngIf="passwordsCompare() && passwordFormGroup.controls['passwordRepeat'].dirty" class="error-message">Паролі не співпадають</div>
        <button *ngIf="!loadBar" type="submit" [disabled]="passwordFormGroup.invalid" class="login-button">
          Змінити
        </button>
    </form>

</div>