<div class="root-background">
    <div class="root-workspace">
        <div class="header-workspace">
            <app-header></app-header>
        </div>
        <div class="main-workspace">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div *ngIf="loginWindow || registrationWindow || subscriptionWindow || documentsWindow" class="windows-background">
        <app-login *ngIf="loginWindow"></app-login>
        <app-registration *ngIf="registrationWindow"></app-registration>
        <app-subscription *ngIf="subscriptionWindow"></app-subscription>
        <app-documents *ngIf="documentsWindow"></app-documents>
    </div>


</div>