<div class="main-root">
    <div class="main-space">

        <div *ngIf="user" class="info-block">
            <div class="info-section">
                <div class="info-label">
                    <div class="category">Ім'я</div>
                    <div class="info">{{user.name}}</div>
                </div>
                <div class="info-label">
                    <div class="category">Назва організації</div>
                    <div class="info">{{user.companyName}}</div>
                </div>
                <div class="info-label">
                    <div class="category">Ключ активації</div>
                    <div class="info">{{user.companyID}}</div>
                </div>
            </div>

            <div (click)="openChangePasswordWindow()" class="change-button">Змінити пароль</div>
        </div>

        <div *ngIf="!user" class="animation-back">
            <div class="spinner">
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
                <div class="spinner-item"></div>
            </div>
        </div>

    </div>
</div>